{% extends 'base.html' %}

<!-- The Title of the Web Page -->
{% block title %}
    Admin Page
{% endblock %}

<!-- All of the content for the Admin HTML Page -->
{% block content %}

<style>
    .bootstrap-iso .formden_header h2,
    .bootstrap-iso .formden_header p,
    .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .bootstrap-iso form button,
    .bootstrap-iso form button:hover {
        color: white !important;
    }

    .asteriskField {
        color: red;
    }
</style>
<div class="row" style="margin-top: 20px; margin-left: 20px;">
    <!-- Left side of page showing users in database -->
    <div class="col-8">
        <h2>Current users in the system: {{ users|length }}</h2>
        <br />
        <p>Table shows first ten users...search for more</p>

        <label for="myInput"></label><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for user.." />
        <table id="myTable" class="table table-striped table-bordered table-sm table-dark">
            <thead>
                <tr>
                    <th class="th-sm">Username</th>
                    <th class="th-sm">User ID</th>
                    <th class="th-sm">Is Infected</th>
                </tr>
            </thead>
            <tbody>
                {% if users|length >= 5 %} {% for i in range(5) %}
                <tr>
                    <td>{{ users[i].username }}</td>
                    <td>{{ users[i].id }}</td>
                    <td>{{ users[i].is_infected }}</td>
                </tr>
                {% endfor %} {% else %} {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.is_infected }}</td>
                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Right side of page showing user alteration options -->

    <div class="col-4">
        <h2>Admin user function</h2>
        <br />
        <p>Admin please use form below to make changes to users and locations</p>
        <form method="POST">
            {{ admin_form.hidden_tag() }}

            <label class="control-label requiredField" for="Location">
                Choose a location
                <span class="asteriskField">
                    *
                </span>
            </label>

            <div class="form-group">
                <select class="select form-control" id="Location" name="Location">
                    <option value="Eastern Oregon University"> Eastern Oregon University </option>
                    <option value="Anytime Fitness"> Anytime Fitness </option>
                    <option value="Safeway"> Safeway </option>
                    <option value="D&amp;B Supply"> D&amp;B Supply </option>
                    <option value="Wal-Mart"> Wal-Mart </option>
                    <option value="Bi-Mart"> Bi-Mart </option>
                    <option value="Riverside Park"> Riverside Park </option>
                    <option value="Granada Theatre"> Granada Theatre </option>
                    <option value="Public Pool"> Public Pool </option>
                    <option value="Max Square"> Max Square </option>
                </select>
            </div>

            <label class="control-label requiredField" for="locationVal">
                Select an infection chance for above location
                <span class="asteriskField">
                    *
                </span>
            </label>

            <div class="form-group">
                <select class="select form-control" id="locationVal" name="locationVal">
                    {% for i in range(101) %}
                    <option value="{{ i }}"> {{ i }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <div>
                    {{ admin_form.submit( class="btn btn-primary btn-block")}}
                </div>
            </div>


        </form>

        <script>
            function myFunction() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
    </div>
</div>
{% endblock %}