{% extends 'base.html' %}

<!-- The Title of the Web Page -->
{% block title %}
Admin Page
{% endblock %}

<!-- All of the content for the Admin HTML Page -->
{% block content %}

<style>
    .bootstrap-iso .formden_header h2,
    .bootstrap-iso .formden_header p,
    .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .bootstrap-iso form button,
    .bootstrap-iso form button:hover {
        color: white !important;
    }

    .asteriskField {
        color: red;
    }
</style>

<div class="row" style="margin-top: 20px; margin-left: 20px; margin-right: 20px">

<div class="col-6 bg-dark">
        <h2>Change User Settings</h2>
        <br />
        <p>Admin please use form below to make changes to users</p>
        <form method="POST">
            {{ admin_form.hidden_tag() }}

            <label class="control-label requiredField" for="userID">
                Please enter valid User ID
                <span class="asteriskField">
                    *
                </span>
            </label>

            <div class="form-group">
                <input class="form-control" type="number" placeholder="User ID" name="userID" id="userID">
            </div>


            <label class="control-label requiredField" for="options">
                Please select either option
                <span class="asteriskField">
                    *
                </span>
            </label>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="options" id="inlineRadio1" value="infected">
                <label class="form-check-label" for="inlineRadio1">Set User Infected</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="options" id="inlineRadio2" value="uninfected">
                <label class="form-check-label" for="inlineRadio2">Set User Uninfected</label>
            </div>
            <br><br>
            <div class="form-group">
                <div>
                    <button class="btn btn-primary btn-block" name="submit_b" value="submit_a"> Update User </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Change location settings -->
    <div class="col-6 bg-dark">
        <h2>Change Location Settings</h2>
        <br />
        <p>Admin please use form below to make changes to users and locations</p>
        <form method="POST">
            {{ admin_form.hidden_tag() }}

            <label class="control-label requiredField" for="Location">
                Choose a location
                <span class="asteriskField">
                    *
                </span>
            </label>

            <div class="form-group">
                <select class="select form-control" id="Location" name="Location">
                    <option value="Eastern Oregon University"> Eastern Oregon University </option>
                    <option value="Anytime Fitness"> Anytime Fitness </option>
                    <option value="Safeway"> Safeway </option>
                    <option value="D&amp;B Supply"> D&amp;B Supply </option>
                    <option value="Wal-Mart"> Wal-Mart </option>
                    <option value="Bi-Mart"> Bi-Mart </option>
                    <option value="Riverside Park"> Riverside Park </option>
                    <option value="Granada Theatre"> Granada Theatre </option>
                    <option value="Public Pool"> Public Pool </option>
                    <option value="Max Square"> Max Square </option>
                </select>
            </div>

            <label class="control-label requiredField" for="locationVal">
                Select an infection chance for above location
                <span class="asteriskField">
                    *
                </span>
            </label>

            <div class="form-group">
                <select class="select form-control" id="locationVal" name="locationVal">
                    {% for i in range(101) %}
                    <option value="{{ i }}"> {{ i }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <div>
                    <button class="btn btn-primary btn-block" name="submit_a" value="submit_a"> Update Location </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" style="margin: 20px;">

    <!-- Current users in the system -->
    <div class="col-6 bg-dark">
        <h2>Current users in the system: {{ users|length }}</h2>
        <br />
        <p>Use search field to filter users</p>

        <label for="userInput"></label><input type="text" id="userInput" onkeyup="searchUser()" placeholder="Search for user.." />
        <table id="userTable" class="table table-striped table-bordered table-sm table-dark">
            <thead>
                <tr>
                    <th class="th-sm">Username</th>
                    <th class="th-sm">User ID</th>
                    <th class="th-sm">Is Infected</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    {% if user.username != 'admin' %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.is_infected }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Current locations in the system -->
    <div class="col-6 bg-dark">
        <h2>Current locations in the system: {{ locations|length }}</h2>
        <br />
        <p>Use search field to filter locations</p>

        <label for="locationInput"></label><input type="text" id="locationInput" onkeyup="searchLocation()" placeholder="Search for location.." />
        <table id="locationTable" class="table table-striped table-bordered table-sm table-dark">
            <thead>
                <tr>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Location ID</th>
                    <th class="th-sm">Infection Chance</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td>{{ location.name }}</td>
                    <td>{{ location.id }}</td>
                    <td>{{ location.infection }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <script>
        function searchUser() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("userInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("userTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <script>
        function searchLocation() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("locationInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("locationTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</div>
</div>
{% endblock %}