{% extends 'base.html' %}
<!-- The Title of the Web Page -->{% block title %} Admin Page {% endblock %}
<!-- All of the content for the Admin HTML Page -->{% block content %}
<table class="table table-hover table-dark">
	<thead>
		<tr>
			<!-- Your Columns HERE -->
			<th scope="col">ID</th>
			<th scope="col">User</th>
			<th scope="col">First</th>
			<th scope="col">Last</th>
			<th scope="col">Infected</th>
			<th scope="col">Options</th>
		</tr>
	</thead>
	<tbody>
		<!-- Your rows inside the table HERE: -->{% for user in users %}
		<tr>
			<td>{{ user.id }}</td>
			<td>{{ user.username }}</td>
			<td>{{ user.first }}</td>
			<td>{{ user.last }}</td>
			<td>{{ user.is_infected }}</td>
			<td>
				<button class="btn btn-outline btn-info">Set Infected</button>
				<button class="btn btn-outline btn-success">Set Uninfected</button>
			</td>
		</tr> {% endfor %} </tbody>
</table> {% endblock %}