{% extends 'base.html' %} {% block title %} Data Page {% endblock %} {% block content %}
<!-- Inline CSS based on choices in "Settings" tab -->
<style>
.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form {
	font-family: Arial, Helvetica, sans-serif;
	color: white
}

.bootstrap-iso form button,
.bootstrap-iso form button:hover {
	color: white !important;
}

.asteriskField {
	color: red;
}
</style>
<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso bg-dark" style="margin-top: 40px; margin-left: 40px; margin-right: 40px">
<h2>Please Fill out the Following Form</h2>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<form method="POST">
                    {{ data_form.hidden_tag() }}
					<div class="form-group ">
						<label class="control-label requiredField" for="Location"> Choose A Location <span class="asteriskField">
        *
       </span> </label>
						<select class="select form-control" id="Location" name="Location">
							<option value="Eastern Oregon University"> Eastern Oregon University </option>
							<option value="Anytime Fitness"> Anytime Fitness </option>
							<option value="Safeway"> Safeway </option>
							<option value="D&amp;B Supply"> D&amp;B Supply </option>
							<option value="Wal-Mart"> Wal-Mart </option>
							<option value="Bi-Mart"> Bi-Mart </option>
							<option value="Riverside Park"> Riverside Park </option>
							<option value="Granada Theatre"> Granada Theatre </option>
							<option value="Public Pool"> Public Pool </option>
							<option value="Max Square"> Max Square </option>
						</select>
					</div>
					<div class="form-group ">
						<label class="control-label requiredField" for="date"> Date <span class="asteriskField">
        *
       </span> </label>
						<input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" /> </div>
					<div class="form-group ">
						<label class="control-label requiredField" for="Hour"> Select Hour <span class="asteriskField">
        *
       </span> </label>
						<select class="select form-control" id="Hour" name="Hour">
							<option value="12"> 12 </option>
							<option value="11"> 11 </option>
							<option value="10"> 10 </option>
							<option value="09"> 09 </option>
							<option value="08"> 08 </option>
							<option value="07"> 07 </option>
							<option value="06"> 06 </option>
							<option value="05"> 05 </option>
							<option value="04"> 04 </option>
							<option value="03"> 03 </option>
							<option value="02"> 02 </option>
							<option value="01"> 01 </option>
						</select>
					</div>
					<div class="form-group ">
						<label class="control-label requiredField" for="Min"> Select Min <span class="asteriskField">
        *
       </span> </label>
						<select class="select form-control" id="Min" name="Min">
							<option value="00"> 00 </option>
							<option value="15"> 15 </option>
							<option value="30"> 30 </option>
							<option value="45"> 45 </option>
						</select>
					</div>
					<div class="form-group ">
						<label class="control-label requiredField"> Time of Day <span class="asteriskField">
        *
       </span> </label>
						<div class="">
							<div class="radio">
								<label class="radio">
									<input name="radio" type="radio" value="AM" /> AM </label>
							</div>
							<div class="radio">
								<label class="radio">
									<input name="radio" type="radio" value="PM" /> PM </label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div>
							{{ data_form.submit( class="btn btn-primary btn-block")}}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> {% endblock %}