{% extends 'base.html' %}

<!-- The Title of the Web Page -->
{% block title %}
    Data Page
{% endblock %}

<!-- All of the content for the Data HTML Page -->
{% block content %}

<style>
    .bootstrap-iso .formden_header h2,
    .bootstrap-iso .formden_header p,
    .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: white
    }

    .bootstrap-iso form button,
    .bootstrap-iso form button:hover {
        color: white !important;
    }

    .asteriskField {
        color: red;
    }
</style>

<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-6">
        <h2>Enter A Location</h2>
        <p>Please fill out the form to monitor covid information</p>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form method="POST">
                        {{ data_form.hidden_tag() }}

                        <div class="form-group ">
                            <label class="control-label requiredField" for="Location"> Choose A Location
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <select class="select form-control" id="Location" name="Location">
                                <option value="Eastern Oregon University"> Eastern Oregon University </option>
                                <option value="Anytime Fitness"> Anytime Fitness </option>
                                <option value="Safeway"> Safeway </option>
                                <option value="D&amp;B Supply"> D&amp;B Supply </option>
                                <option value="Wal-Mart"> Wal-Mart </option>
                                <option value="Bi-Mart"> Bi-Mart </option>
                                <option value="Riverside Park"> Riverside Park </option>
                                <option value="Granada Theatre"> Granada Theatre </option>
                                <option value="Public Pool"> Public Pool </option>
                                <option value="Max Square"> Max Square </option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label class="control-label requiredField" for="date"> Date
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" />
                        </div>
                        <div class="form-group ">
                            <label class="control-label requiredField" for="Hour"> Select Hour
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <select class="select form-control" id="Hour" name="Hour">
                                {% for i in range(24) %}
                                <option value="{{ i }}"> {{ i }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group ">
                            <label class="control-label requiredField" for="Min"> Select Min
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <select class="select form-control" id="Min" name="Min">
                                <option value="00"> 00 </option>
                                <option value="15"> 15 </option>
                                <option value="30"> 30 </option>
                                <option value="45"> 45 </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div>
                                {{ data_form.enter_data( class="btn btn-primary btn-block")}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- The Entered Locations Column -->
    <div class="col-6">
        <h2>Entered Locations</h2>
        <p>Below is a list of previously visited locations</p>
        <br>
        <div class="row">
            {% for owned_location in owned_locations %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-left bg-dark">
                    <div class="card-body">
                        {{ owned_location.name }}
                        <br>
                        {{ owned_location.date }}
                        <br>
                        {{ owned_location.time }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}