{% extends 'base.html' %}

<!-- The Title of the Web Page -->
{% block title %}
    Registration Page
{% endblock %}

<!-- All of the content for the Registration HTML Page -->
{% block content %}
    <body class="text-center">
    <div class = "container" >
        <form method = "POST" class = "form-register" style = "color:white">
            <img class="mb-4" src="https://s3.amazonaws.com/ezyfaq/eou/files/EOU_Logo_New_Horizontal_WG.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>
            {{ form.user_name.label() }}
            {{ form.user_name(class = "form-control", placeholder="User Name") }}

            {{ form.first_name.label() }}
            {{ form.first_name(class = "form-control", placeholder="First Name") }}

            {{ form.last_name.label() }}
            {{ form.last_name(class = "form-control", placeholder="Last Name") }}

            {{ form.password_1.label() }}
            {{ form.password_1(class = "form-control", placeholder="Password") }}

            {{ form.password_2.label() }}
            {{ form.password_2(class = "form-control", placeholder="Confirm Password") }}

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
    </body>


{% endblock %}