{% extends 'base.html' %}

<!-- The Title of the Web Page -->
{% block title %}
    Data Entry Page
{% endblock %}

<!-- All of the content for the Data Entry HTML Page -->
{% block content %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Wal-Mart</a>
            <a class="dropdown-item" href="#">Safeway</a>
            <a class="dropdown-item" href="#">GRFC</a>
            <a class="dropdown-item" href="#">Eastern Oregon University</a>
            <a class="dropdown-item" href="#">Public Pool</a>
            <a class="dropdown-item" href="#">Lighthouse Church</a>
            <a class="dropdown-item" href="#">D&B Supply</a>
            <a class="dropdown-item" href="#">Granada Theatre</a>
            <a class="dropdown-item" href="#">Riverside Park</a>
            <a class="dropdown-item" href="#">The Denture Lady</a>
        </div>
    </div>

{%  endblock %}